@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

h3 {
    font-family: 'Xanh Mono', monospace;
    font-size: 1.5em;

}

div {
    /*todos los div*/
    background: green;
    position: absolute;
    /*todos con position absolute*/
}

div div {
    /*todos los div dentro del div contenedor*/
    width: 100px;
    height: 100px;
    background: yellow;
}

.contenedor {
    position: relative;
    margin: 50px auto;
    /*Se posiciona como relative
     para que se ocupe el lugar original
     y tome el margin en el eje x dado (auto)
     Además, al posicionarse, los hijos lo tomarán como 
     referencia en lugar de tomar al viweport*/
    border: 4px solid red;
    height: 450px;
    width: 450px;
}

.caja1 {
    top: 0;
    /*pegado al top del contenedor*/
}

.caja2 {
    top: 0;
    /*pegado al top del contenedor*/
    right: 0;
    /*pegado a la derecha*/
}

.caja3 {
    bottom: 0;
    /*pegado al bottom del contenedor*/
    right: 0;
    /*pegado a la derecha*/
}

.caja4 {
    bottom: 0;
    /*pegado al bottom del contenedor*/
}

.caja5 {
    /*(tamaño del padre / 2) - (tamaño del hijo / 2)*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}