@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

* {
    font-family: 'Xanh Mono', monospace;
    font-size: 1.5em;
}


body {
    padding-top: 100px;
}

p {
    background-color: lightblue;
}

.texto-fixed {
    background: red;
    position: fixed;
    margin: -100px auto;
}