@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

h3 {
    font-family: 'Xanh Mono', monospace;
    font-size: 2em;

}

.caja1,
.caja2,
.caja3,
.caja4 {
    width: 150px;
    height: 150px;
}

.caja1 {
    background: red;
}

.caja2 {
    background: blue;
}

.caja3 {
    background: green;
}

.caja4 {
    background: orange;
}